### 클래스 
1. 변수와 함수가 합쳐져 있는 형태 
2. ex) 음식의 레시피 : 함수, 음식에 들어가는 재료 : 변수

In [1]:
## 클래스 선언 
class Class_1:
    ## 생성자 함수
    def __init__(self, _x, _y):
        self.x = _x
        self.y = _y

In [2]:
# 클래스 생성
# 클래스 생성시 __init__ 함수가 호출
# self 매개변수에는 클래스가 저장되는 위치(변수)
# _x 매개변수는 Class_1()에 있는 첫번째 인자 값
# _y 매개변수는 Class_1()에 있는 두번째 인자 값
class_a = Class_1('test', 10)

In [3]:
class_a.x

'test'

In [4]:
class_a.y

10

In [5]:
class_b = Class_1('test2', 20)

In [6]:
print(class_a.x)
print(class_b.x)

test
test2

In [7]:
class Class_2:
    def __init__(self, _x, _y):
        self.x = _x
        self.y = _y
    
    # 함수 추가 
    def add(self):
        self.result = self.x + self.y
        return self.result
    
    def subtract(self):
        self.result = self.x - self.y
        return self.result

In [8]:
class_a = Class_2(10, 2)
class_b = Class_2(20, 1)

In [9]:
class_a.add()

12

In [10]:
class_b.add()

21

In [11]:
print(class_a.subtract())
print(class_b.subtract())

8
19

In [12]:
# 클래스 변수가 포함 된 클래스 생성 
class Class_3:
    # 클래스 변수 생성
    user_list = []

    def __init__(self, _user, _age):
        self.user = _user
        self.age = _age
        self.user_list.append(_user)

In [13]:
user1 = Class_3("test", 20)
user2 = Class_3('test2', 30)

In [14]:
print(user1.user, user1.age)
print(user2.user, user2.age)

test 20
test2 30

In [15]:
print(user1.user_list)

['test', 'test2']

In [16]:
print(user2.user_list)

['test', 'test2']

### 문제 
- User 클래스 선언
    1. 생성자 함수에는 유저의 정보를 입력(name, phone, birth)
    2. info() 함수를 생성 
        - 유저의 정보를 출력

In [17]:
class User:
    # 생성자 함수를 이용하여 유저의 정보를 받아오는 부분
    def __init__(self, _name, _phone, _birth):
        self.name = _name
        self.phone = _phone
        self.birth = _birth
    
    # 유저의 정보를 출력
    def info(self):
        return (self.name, self.phone, self.birth)

In [18]:
user1 = User('kim', '01012345678', '900101')
user2 = User('park', '01098765432', '950101')

In [19]:
print(user1.info())
print(user2.info())

('kim', '01012345678', '900101')
('park', '01098765432', '950101')

### 클래스 
- Alba 클래스를 생성
    - 클래스의 변수 하나 생성 (시급)
    - 생성자 함수
        - 알바생의 정보를 입력
        - 알바비라는 변수를 생성 (기본 값은 0)
    - 알바생의 근무 기록 등록 하는 함수
        - 매개변수는 시간 생성
        - 시간을 기준으로 알바비에 시급 * 시간 누적 합
    - 시급을 변경하는 함수 생성
        - 매개변수는 시급
        - 클래스 변수의 값을 변경

In [35]:
# 클래스 생성 
class Alba:
    # 시급 클래스 변수 생성
    cost = 9000

    # 생성자 함수 
    def __init__(self, _name):
        self.name = _name
        self.payment = 0
    
    # 근무 시간을 등록하는 함수 
    def work(self, _time):
        self.pay = _time * Alba.cost
        self.payment = self.payment + self.pay
        # self.payment += self.pay
        return f"{_time}시간만큼 근무하였습니다."
    # 시급을 변경하는 함수
    def change_cost(self, _cost):
        Alba.cost = _cost
        return f"{_cost}로 시급을 변경하였습니다."

In [36]:
alba1 = Alba('kim')
alba2 = Alba('park')

In [37]:
# 알바비 출력
print(alba1.payment)
print(alba2.payment)

0
0

In [38]:
# 1번 알바생 8시간 근무
alba1.work(8)
# 2번 알바생 6시간 근무
alba2.work(6)

'6시간만큼 근무하였습니다.'

In [39]:
# 시급 변경
alba1.change_cost(10000)

'10000로 시급을 변경하였습니다.'

In [45]:
class Alba:
    def __init__(self, _name):
        self.name = _name
        self.payment = 0
        self.cost = 9000

    def work(self, _time):
        self.pay = self.cost * _time
        self.payment += self.pay
        return f"{_time}시간만큼 근무하였습니다."

    def chage_cost(self, _cost):
        self.cost = _cost
        return f"{_cost}원으로 시급이 변경되었습니다"

In [46]:
alba1 = Alba('kim')
alba2 = Alba('park')

In [47]:
print(alba1.payment)
print(alba2.payment)

0
0

In [48]:
print(alba1.cost)
print(alba2.cost)

9000
9000

In [49]:
alba1.work(5)

'5시간만큼 근무하였습니다.'

In [50]:
alba2.work(6)

'6시간만큼 근무하였습니다.'

In [51]:
# 각각의 payment 다시 확인
print(alba1.payment)
print(alba2.payment)

45000
54000

In [52]:
alba1.chage_cost(10000)

'10000원으로 시급이 변경되었습니다'

In [53]:
print(alba1.cost)
print(alba2.cost)

10000
9000

In [54]:
alba1.work(5)

'5시간만큼 근무하였습니다.'

In [55]:
alba2.work(6)

'6시간만큼 근무하였습니다.'

In [56]:
print(alba1.payment)
print(alba2.payment)

95000
108000

- Class 생성 
    1. User 클래스 생성
        - 생성자 함수는 유저의 정보를 입력(이름, 나이, 휴대폰번호)
        - ```__call__```함수를 이용하여 유저의 정보를 출력 
        - info() 함수를 만들어서 유저의 이름을 출력
    2. Wallet 클래스 생성 
        - User 클래스를 상속
        - 생성자 함수 User 클래스의 정보와 지갑의 잔액을 등록
        - work_select() 함수를 생성
            - 일의 종류를 선택하여 시급을 지정
        - work() 함수를 생성하여 근무 시간만큼 지갑의 잔액에 더해준다. 
        - wallet_info() 함수를 생성하여 지갑 소유자의 이름과 지갑의 잔액을 출력

In [60]:
class User():
    def __init__(self, _name, _age, _phone):
        self.name = _name
        self.age = _age
        self.phone = _phone

    def __call__(self):
        return (self.name, self.age, self.phone)

    def info(self):
        return f"이름 : {self.name}, 나이 : {self.age}, 번호 : {self.phone}"

In [61]:
user1 = User('Lee', 20, '01012345678')

In [62]:
user1.info()

'이름 : Lee, 나이 : 20, 번호 : 01012345678'

In [65]:
user1()

('Lee', 20, '01012345678')

In [169]:
class Wallet(User):

    # 생성자 함수
    def __init__(self, _name, _age, _phone, _balance = 0):
        self.balance = _balance
        super().__init__(_name, _age, _phone)

    def work_select(self, _type):
        if _type == 'Serving':
            self.cost = 10000
        elif _type == 'Coding':
            self.cost = 50000
        elif _type == 'Cooking':
            self.cost = 30000
        else: 
            self.cost = 0
            return '일의 타입이 맞지 않습니다.'
        return f'{_type}이 선택되었습니다.'
    
    # work() 함수를 생성 -> 매개변수 1개 (self)
    def work(self):
        # 지갑의 잔액에 cost만큼 누적 합
        self.balance += self.cost
        # self.balance = self.balance + self.cost
        # return은 현재 지갑의 잔액 출력
        return f"현재 잔액은 {self.balance}입니다"
    
    def wallet_info(self):
        return f"지갑의 소유자는 {self.name}, 잔액은 {self.balance}입니다."
    
    # 오버라이드 함수를 생성
    # 오버라이드는 기존의 함수를 변경해준다.
    def info(self):
        return f"""이름 : {self.name}, 나이 : {self.age}, 
번호 : {self.phone}, 잔액 : {self.balance}"""

In [170]:
wallet1 = Wallet('kim', 20, "01012345678")
wallet2 = Wallet('Lee', 30, "01012345671", 100)

In [171]:
wallet1.work_select('Serving')

'Serving이 선택되었습니다.'

In [172]:
wallet2.work_select('Coding')

'Coding이 선택되었습니다.'

In [173]:
wallet1.work()

'현재 잔액은 10000입니다'

In [174]:
wallet2.work()

'현재 잔액은 50100입니다'

In [175]:
print(wallet1.wallet_info())
print(wallet2.wallet_info())

지갑의 소유자는 kim, 잔액은 10000입니다.
지갑의 소유자는 Lee, 잔액은 50100입니다.

In [176]:
print(wallet1.info())
print(wallet2.info())

이름 : kim, 나이 : 20,
번호 : 01012345678, 잔액 : 10000
이름 : Lee, 나이 : 30,
번호 : 01012345671, 잔액 : 50100

In [166]:
print(wallet1.cost)
print(wallet2.cost)

10000
50000

In [115]:
wallet1.work_select('Cooking')

'Cooking이 선택되었습니다.'

In [116]:
print(wallet1.cost)

30000

In [111]:
print(wallet1.age, wallet1.balance, wallet1.name, wallet1.phone)
print(wallet2.age, wallet2.balance, wallet2.name, wallet2.phone)

20 0 kim 01012345678
30 100 Lee 01012345671

In [94]:
class A:

    def __init__(self, _x, _y):
        self.a = _x
        self.b = _y

    def add(self):
        return self.a / self.b

In [83]:
a = A(3, 2)

In [84]:
a.add()

5

In [99]:
class B(A):

    def __init__(self, _x, _y):
        # A 클래스의 생성자 함수를 호출
        # super() : 부모 클래스
        super().__init__(_x, _y)
        self.x = _x
        self.y = _y

    def subtract(self):
        return self.x - self.y

In [100]:
b = B(5,2)

In [101]:
b.subtract()

3

In [102]:
b.add()

2.5

In [177]:
a = "Hello"
print(type(a))

<class 'str'>