In [ ]:
import pandas as pd

1. csv폴더에서 uriage.csv 로드 
2. purchase_date 컬럼의 데이터를 시계열데이터로 변경
3. item_name 컬럼의 데이터를 모두 대문자로 변경
4. item_name 컬럼의 데이터의 공백을 모두 제거 
5. item_name을 기준으로 오름차순 
6. 기존의 인덱스는 삭제하고 인덱스를 초기화
7. 결측치를 채우는 작업

In [ ]:
uriage = pd.read_csv("../../csv/uriage.csv")
uriage.head(5)

In [ ]:
#  purchase_date 컬럼의 데이터를 시계열로 변경
uriage.info()

In [ ]:
# pandas에서 제공하는 시계열데이터로 변경하는 함수
# to_datetime(변경할 데이터, format)
# format 매개변수 : 변경할 데이터의 형태
t = "08 08 23"
pd.to_datetime(t)

In [ ]:
uriage['purchase_date'] = \
      pd.to_datetime(
          uriage['purchase_date'], format="%Y-%m-%d %H:%M")

In [ ]:
uriage['item_name']

In [ ]:
# item_name의 각 원소들을 대문자로 변경해서 데이터프레임에 대입

index_list = uriage.index

for i in index_list:
    # DataFrame에서 item_name의 값들을 하나씩 추출해서 
    # 대문자로 변경하고 출력
    uriage.loc[i, 'item_name'] = \
        uriage.loc[i, 'item_name'].upper()
uriage.head(5)

In [80]:
uriage2 = uriage.copy()

In [ ]:
# index_list를 만든 이유는?
# 반복문에서 사용 / 새로운 스리즈에 인덱스로 사용
index_list = uriage2.index

# 스리즈에 value의 값으로 들어갈 리스트 생성
values = []

for i in index_list:
    values.append(uriage2.loc[i, 'item_name'].upper())

pd.Series(values, index=index_list)

In [ ]:
# case1 (str 사용)
uriage2['item_name'].str.upper()

In [ ]:
# case2 (apply() 함수 + 일반 함수)
# 스리즈형태에서 각항목들을 추출해서 함수에 대입

def change(x):
    # x는 문자열데이터 
    return x.upper()

uriage2['item_name'].apply(change)

In [ ]:
# case3 (apply() + lambda 함수)

uriage2['item_name'].apply(lambda x : x.upper())

In [ ]:
### item_name에 공백을 제거 

# case1
uriage2['item_name'].str.replace(" ", "")

In [ ]:
# case2 (apply() + 일반 함수)
def change(x):
    return x.replace(" " , "")

uriage2['item_name'].apply(change)

In [ ]:
# case3 (apply() + lambda함수)

uriage2['item_name'].apply(lambda x : x.replace(" ",""))

In [ ]:
# item_name의 값을 대문자로 변경하고 공백을 제거

# case1
uriage2['item_name'].str.upper().str.replace(" ", "")   #Series

In [ ]:
# case2 

def change(x):
    result = x.upper()
    result = result.replace(" ", "")
    return result

uriage2['item_name'].apply(change)

In [81]:
# case3 
uriage2['item_name'] = \
uriage2['item_name'].apply(lambda x : x.upper().replace(" ", ""))

In [82]:
uriage2['item_name'].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [ ]:
# 상품A 인 제품 출력
uriage2.loc[uriage2['item_name'] == '상품A']

In [ ]:
# 상품X 인 제품 출력
uriage2.query('item_name == "상품X"')

In [63]:
### 상품A 인 경우 결측치는 상품A인 데이터의 item_price의 평균값 대체

# item_name이 상품A인 데이터를 출력
uriage2.loc[uriage2['item_name'] == '상품A']

# item_price가 결측치인 데이터를 출력
uriage2.loc[uriage2['item_price'].isna()]

# item_name이 상품A이고 item_price가 결측치인 데이터를 출력
uriage2.loc[
    (uriage2['item_name'] == '상품A') & \
    ~(uriage2['item_price'].isna())
]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
9     2019-01-28 10:47       상품A       100.0           김태윤
31    2019-06-29 10:01       상품A       100.0           김하민
35     2019-01-12 3:26       상품A       100.0           김건희
61    2019-02-11 17:00       상품A       100.0           김성윤
...                ...       ...         ...           ...
2875  2019-06-03 17:33       상품A       100.0           김서진
2886  2019-04-25 17:15       상품A       100.0           김강현
2897  2019-05-20 14:05       상품A       100.0           김지안
2951   2019-05-06 2:24       상품A       100.0           김주혁
2973  2019-07-13 21:38       상품A       100.0           김태윤

[117 rows x 4 columns]

In [62]:
~(uriage2['item_price'].isna())

0        True
1       False
2       False
3        True
4       False
        ...
2994     True
2995     True
2996    False
2997    False
2998     True
Name: item_price, Length: 2999, dtype: bool

In [85]:
## 상품A이고 item_price가 결측치가 아닌 데이터에서 item_price의 평균 값

flag_null = uriage2['item_price'].isna()

flag = uriage2['item_name'] == '상품A'

a_mean = \
    uriage2.loc[(flag) & ~(flag_null), 'item_price'].mean()

In [86]:
# 상품A이고 item_price가 결측치가 아닌 item_price 평균 값을
# 상품A의 item_price가 결측치인 곳에 대입

# case1 (item_name이 상품A인 데이터에서 결측치를 a_mean 대체)
uriage2.loc[flag, 'item_price'] = \
    uriage2.loc[flag, 'item_price'].fillna(a_mean)

In [ ]:
uriage2.loc[(flag) & (flag_null)]

In [87]:
uriage2.loc[(flag) & (uriage2['item_price'].isna())]

Empty DataFrame
Columns: [purchase_date, item_name, item_price, customer_name]
Index: []

In [89]:
flag_null = uriage2['item_price'].isna()

flag = uriage2['item_name'] == '상품B'

b_mean = \
    uriage2.loc[(flag) & ~(flag_null), 'item_price'].mean()

In [94]:
# 결측치를 채우는 방법 
# case2 : 상품B이고 item_price가 결측치인 데이터를 추출하여 
# item_price의 값을 평균 값으로 변경
uriage2.loc[(flag) & (flag_null), 'item_price'] = b_mean

In [95]:
uriage2.loc[(flag) & (uriage2['item_price'].isna())]

Empty DataFrame
Columns: [purchase_date, item_name, item_price, customer_name]
Index: []

In [91]:
# 스리즈형태의 데이터에서 숫자형태의 데이터를 대입 
test_data = uriage.copy()

test_data['item_price'] = 1000
test_data.head(10)

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A        1000           김가온
1  2019-07-13 13:05     상 품 S        1000           김우찬
2  2019-05-11 19:42     상 품 a        1000           김유찬
3  2019-02-12 23:40       상품Z        1000           김재현
4   2019-04-22 3:09       상품a        1000           김강현
5  2019-03-20 19:16       상품S        1000           김우진
6  2019-05-18 19:16      상품 a        1000           김재준
7   2019-04-18 0:14       상품V        1000           김민혁
8  2019-01-10 15:51       상품O        1000           김선우
9  2019-01-28 10:47       상품A        1000           김태윤

In [96]:
# 위에서 결측치를 채우는 코드를 반복적으로 실행 

# item_name list 생성
_list = uriage2['item_name'].unique()

# item_price가 결측치인 조건식 생성
flag_null = uriage2['item_price'].isna()

for i in _list:
    # i는 상품명

    # 상품명과 같은 데이터 조건식 생성
    flag = uriage2['item_name'] == i

    # item_name이 i와 같고 item_price가 결측치가 아닌 데이터에서 
    # item_price의 평균값
    mean_value = \
        uriage2.loc[(flag) & ~(flag_null), 'item_price'].mean()

    # item_name이 i와 같고 
    # item_price가 결측치인 
    # item_price 스리즈 데이터에 
    # mean_value값을 대입
    uriage2.loc[(flag) & (flag_null), 'item_price'] = mean_value

In [ ]:
uriage2['item_name'].value_counts()

In [ ]:
uriage2['item_price'].value_counts()

In [ ]:
uriage2.loc[uriage2['item_name'] == '상품B']

In [105]:
# 데이터프레임을 item_name을 기준으로 그룹화하여 item_price의 평균 출력
uriage2[['item_name', 'item_price']].groupby('item_name').mean()

uriage2.loc[:, ['item_name', 'item_price']].groupby('item_name').mean()

           item_price
item_name
상품A             100.0
상품B             200.0
상품C             300.0
상품D             400.0
상품E             500.0
상품F             600.0
상품G             700.0
상품H             800.0
상품I             900.0
상품J            1000.0
상품K            1100.0
상품L            1200.0
상품M            1300.0
상품N            1400.0
상품O            1500.0
상품P            1600.0
상품Q            1700.0
상품R            1800.0
상품S            1900.0
상품T            2000.0
상품U            2100.0
상품V            2200.0
상품W            2300.0
상품X            2400.0
상품Y            2500.0
상품Z            2600.0