In [ ]:
import requests

In [ ]:
url = 'https://www.naver.com'

In [ ]:
responese = requests.get(url)

In [ ]:
from pprint import pprint

In [ ]:
html_data = responese.text

In [ ]:
# 문자열 데이터에서 특정 문자를 찾는 함수
html_data.find("네이버")

In [ ]:
html_data[378:381]

### BeautifulSoup
1. HTML TAG의 형태로 이루어진 데이터를 파싱(parsing)작업하여 데이터를 쉽게 추출하기 위한 라이브러리 
2. TAG를 기준으로 데이터를 쉽게 추출
3. 웹의 구조를 어느정도 인지하고 사용을 하면 쉽게 데이터를 추출
4. Parser를 활용해서 파이썬에서 접근이 쉽게 객체 형태로 제공

In [ ]:
# 라이브러리 설치 
!pip install bs4

In [ ]:
# 라이브러리 로드 
from bs4 import BeautifulSoup as bs

In [ ]:
# html 태그의 문자열 데이터를 BeautifulSoup에서 사용하기 편한 데이터의 형태로 변환

soup = bs(html_data, 'html.parser')

In [ ]:
type(soup)

- 태그의 이름을 기준으로 검색
    - soup.태그명 : 해당 태그의 첫번째 정보를 출력
    - soup.태그명.string : 첫번째 태그의 문자열이 출력
    - soup.태그명['속성'] : 첫번째 태그의 속성의 값이 출력

In [ ]:
soup.a

In [ ]:
soup.a.string

In [ ]:
soup.a["href"]

- find()
    - HTML 문자열 안에서 해당 태그의 첫번째 정보 출력
    - find(속성 = 값) : 태그들 중 해당 속성의 값과 같은 태그의 첫번째 정보를 출력
- find_all()
    - HTML 문자열 안에서 해당 태그의 모든 정보를 리스트의 형태로 출력
    - limit 매개변수 : 리스트의 길이를 지정

In [ ]:
soup.find('a')

In [ ]:
soup.find_all('a')

In [ ]:
soup.find(id = 'footer')

In [ ]:
soup.find('a').get_text()

In [ ]:
soup.find_all('a').get_text()

In [ ]:
type(soup.find('a'))

In [ ]:
soup.find_all('a')[0].get_text()

In [ ]:
# soup.find_all('a')의 결과는 list
# 해당하는 list에서 content의 텍스트만 추출하여 새로운 리스트
a_list = soup.find_all('a')
# a_list
# 비어있는 리스트 생성 
a_res = []
for i in a_list:
    # 해당하는 반복문에서 i는? -> 
    # print(i.get_text())
    a_res.append(i.get_text())
a_res

In [ ]:
url = "https://finance.naver.com/sise/"

# requests을 이용하여 html_data를 받아온다. 
response = requests.get(url)

In [ ]:
html_data = response.content.decode('euc-kr', 'replace')

In [ ]:
# beautifolsoup의 parsing 작업
soup = bs(html_data, 'html.parser')

In [ ]:
table_data = soup.find('table', attrs={
    'id' : 'siselist_tab_0'
})

In [ ]:
tr_list = table_data.find_all('tr')

In [ ]:
th_list = tr_list[0].find_all('th')

In [ ]:
th_res = []

for i in th_list:
    th_res.append(i.get_text())
th_res

In [ ]:
# apply() -> 스리즈명.apply(함수명)
# map() -> list(map(함수명, 리스트명))

def change(x):
    # x에 리스트의 원소들이 하나하나씩 입력된다. 
    result = x.get_text()
    return result

list(map(change, th_list))

In [ ]:
list(
    map(
        lambda x : x.get_text(), 
        th_list
    )
)

In [ ]:
list(map(
    lambda x : x.get_text().replace('\n', '').replace('\t', '')
    ,tr_list[2].find_all('td')
))

In [ ]:
tr_list[-1]

In [ ]:
# tr_list에서 index가 2부터 시작해서 마지막 전까지의 
# 리스트의 원소들의 텍스트 추출
data_list = []
for i in tr_list[2:-1]:
    data = list(map(
        lambda x : x.get_text().replace('\n', '').replace('\t', '')
        ,i.find_all('td')
    ))  
    data_list.append(data)
data_list

In [ ]:
from pprint import pprint

In [ ]:
data_list2 = []
for i in range(2, len(tr_list)-1):
    data = list(map(
        lambda x : x.get_text().replace('\n', '').replace('\t', '')
        ,tr_list[i].find_all('td')
    ))  
    data_list2.append(data)
pprint(data_list2)

In [ ]:
tr_list[2:]

In [ ]:
td_list = tr_list[2].find_all('td')

In [ ]:
td_list[1].get_text()

In [ ]:
# 새로운 리스트 생성
td_data = []
# td_list를 반복
for i in td_list:
    # 각원소들 별로 텍스트를 추출하여 새로운 리스트에 추가 
    td_data.append(i.get_text())
td_data

In [ ]:
table_data = []
for i in tr_list[2:]:
    # i가 의미하는건? -> tr태그 데이터
    # td_list -> i.find_all('td')
    td_list = i.find_all('td')
    # 1
    if (len(td_list) > 1):
        td_data = []
        # td_list를 반복
        for j in td_list:
            # 각원소들 별로 텍스트를 추출하여 새로운 리스트에 추가 
            # 2
            td_data.append(j.get_text())
        # 3
        table_data.append(td_data)
table_data

In [101]:
import pandas as pd

In [103]:
df = pd.DataFrame(table_data, columns = th_res)

In [108]:
df.head(3)

,순위,연속,누적,종목명,현재가,전일비,등락률,거래량,시가,고가,저가
0,,2,4,덕성우,"10,980","\n상한\n\t\t\t\t2,530\n\t\t\t\t\n",\n\n\t\t\t\t+29.94%\n\t\t\t\t\n,"242,528","9,980","10,980","9,710"
1,,1,1,인지디스플레,"3,345",\n상한\n\t\t\t\t770\n\t\t\t\t\n,\n\n\t\t\t\t+29.90%\n\t\t\t\t\n,"12,166,569","2,525","3,345","2,515"
2,,2,2,탑엔지니어링,"11,580","\n상한\n\t\t\t\t2,670\n\t\t\t\t\n",\n\n\t\t\t\t+29.97%\n\t\t\t\t\n,"3,915,691","10,410","11,580","10,400"

In [120]:
df.columns = ['순위', '연속', '누적', '종목명', '현재가', '전일비', '등락률', 
'거래량', '시가', '고가', '저가']

In [ ]:
df['전일비'].str.replace('\n', '').str.replace('\t', '')

In [125]:
df['전일비'] =  df['전일비'].apply(
    lambda x : x.replace('\n', '').replace('\t', ''))

In [127]:
df['등락률'] = df['등락률'].apply(
    lambda x : x.replace('\n', '').replace('\t', '')
)

In [129]:
df

,순위,연속,누적,종목명,현재가,전일비,등락률,거래량,시가,고가,저가
0,,2,4,덕성우,"10,980","상한2,530",+29.94%,"242,528","9,980","10,980","9,710"
1,,1,1,인지디스플레,"3,345",상한770,+29.90%,"12,166,569","2,525","3,345","2,515"
2,,2,2,탑엔지니어링,"11,580","상한2,670",+29.97%,"3,915,691","10,410","11,580","10,400"
3,,1,5,신성델타테크,"52,000","상한12,000",+30.00%,"486,806","52,000","52,000","52,000"
4,,1,1,아퓨어스,625,상한81,+14.89%,"19,653",545,625,544
5,,1,4,코셋,"2,295",상한296,+14.81%,1,"2,295","2,295","2,295"
6,,1,2,에스케이씨에스,"1,840",상한240,+15.00%,1,"1,840","1,840","1,840"
7,,2,4,모비스,"4,605","상한1,060",+29.90%,"15,753,380","4,100","4,605","4,060"
8,,1,14,테크엔,232,상한30,+14.85%,61,232,232,232
9,,2,3,이브이파킹서비스,"1,370",상한178,+14.93%,"37,953","1,335","1,370","1,335"