In [ ]:
import pandas as pd

In [ ]:
index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
value = [5000, 6000, 6500, 6000]

pd_list = pd.Series(value, index=index)

print(pd_list)

In [ ]:
print("스리즈의 인덱스는", pd_list.index)
print('스리즈의 벨류는', pd_list.values)

In [ ]:
# 2차원 데이터 형태  : DataFrame
index = ['a', 'b', 'c']
columns = ['A', 'B', 'C']
value = [
    [1, 2, 3], 
    [4, 5, 6], 
    [7, 8, 9]
]
df = pd.DataFrame(value, index=index, columns=columns)
print(df)

In [ ]:
df

In [ ]:
print("데이터프레임의 인덱스는", df.index)
print("데이터프레임의 컬럼의 값은", df.columns)
print("데이터프레임의 벨류의 값은", df.values)

In [ ]:
# 딕셔너리 형태의 데이터를 데이터프레임으로 생성
value = {
    "na me" : ['test', 'test2', 'test3'], 
    'age' : [20, 30, 40], 
    'phone' : ['01012345678', '01098765432', '01011112222']
}
print(value)

In [ ]:
value.keys()

In [ ]:
value.values()

In [ ]:
pd.DataFrame(value.values(), index=value.keys())

In [ ]:
df = pd.DataFrame(value)
df

In [ ]:
df.na me

In [ ]:
df['na me']

In [ ]:
# 컬럼의 이름 변경
df.columns = ['name', 'age', 'phone']

In [ ]:
df

In [ ]:
## mysql에서 python을 연동하여 데이터를 불러올때 
## [{}, {}, {}]
test_data = [
    {
        'name' : 'test', 
        'age' : 20
    }, 
    {
        'name' : 'test2', 
        'age' : 30
    }, 
    {
        'name' : 'test3', 
        'age' : 40
    }
]

In [ ]:
# test_data에서 key값들을 따로 출력
col = test_data[0].keys()
# test_data에서 value 값들을 추출해서 2차원 리스트
val = []
for i in test_data:
    # print(i.values())
    val.append(i.values())
val

In [ ]:
pd.DataFrame(val, columns = col)

In [41]:
pd.DataFrame(test_data)

    name  age
0   test   20
1  test2   30
2  test3   40