In [ ]:
# 변수 생성

a = 10 
b = 'test'

In [ ]:
print(a)

In [ ]:
b

In [ ]:
c = "10"

In [ ]:
print(type(c))

# title1
## title2
### title3

1. 순서형 리스트1
    1. 자식 리스트1
    2. 자식 리스트2
2. 순서형 리스트2
3. 순서형 리스트3

- 비순서형 리스트1
    - 자식 리스트1
    - 자식 리스트2
- 비순서형 리스트2
- 비순서형 리스트3

### 조건문 

1. if문

In [ ]:
a = 15

if a < 10 :
    print('a는 10보다 작다')

In [ ]:
# 여러 개의 조건식을 이용하여 출력을 여러 가지로 지정 
score = int(input("점수를 입력하시오 :"))

if score >= 90 :
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else :
    print('D')

### 반복문 
1. for문 
2. while문

In [ ]:
list(range(1, 11, 1))

In [ ]:
for i in range(1, 6, 1):
    print(i)

In [ ]:
_list = [10, 4, 7, 20]
for i in _list:
    print(i)

In [ ]:
for i in range(len(_list)):
    print(_list[i])

In [ ]:
_list2 = ['test2', 'test', 'test4']

for i in _list2:
    print(i)

In [ ]:
# 1부터 10까지의 합계를 구한다. 

# 초기 합계 변수를 0으로 생성
result = 0

for i in range(1, 11, 1):
    # result = result + i
    result += i
print(result)

In [ ]:
# 1부터 100까지의 짝수들의 합계
result = 0
for i in range(1, 101, 1):
    if i % 2 == 0:
        result += i

print(result)

In [ ]:
result = 0
for i in range(1, 101, 1):
    if i % 2 == 1 :
        continue
    result += i
print(result)

In [ ]:
result = 0 
for i in range(2, 101, 2):
    result += i

print(result)

In [ ]:
# while문 

# 합계 변수
result = 0 
# 초기값
i = 1 

while i <= 10:
    # result += i
    result = result + i 
    i += 1

print(result)

- 2개의 주사위를 굴려서 두 주사위의 합이 5의 배수인 경우를 출력하시오
    1. 첫번째 주사위의 경우의 수 (반복문)
    2. 첫번째 반복문 안에서 두번째 주사위의 경우의 수 
    3. 두 주사위의 합이 5의 배수인 경우 -> print()

In [ ]:
# 첫번째 주사위의 경우의 수
for i in range(1, 7, 1):
    # 두번째 주사위의 경우의 수
    for j in range(1, 7, 1):
        add_dice = i + j
        if add_dice % 5 == 0:
            print(i, j)

### 문제 
- 페르마의 마지막 정리를 증명하시오 
    > a<sup>n</sup> + b<sup>n</sup> = c<sup>n</sup> 이 수식에서 n의 값이 2보다 큰 자연수이면 a, b, c의 자연수 값이 존재하지 않는다. 
    
    > n의 값이 3인 경우 a, b, c가 1부터 10까지 이 정리가 사실임을 증명하시오
- 다중 for문과 if문을 사용

In [ ]:
n = 3
start = 1
end = 11

for a in range(start, end, 1):
    for b in range(start, end, 1):
        for c in range(start, end, 1):
            if a**n + b**n == c**n:
                print(a, b, c)

print('증명 작업 종료')

In [ ]:
def func_1(n, start, end):
    for a in range(start, end, 1):
        for b in range(start, end, 1):
            for c in range(start, end, 1):
                if a**n + b**n == c**n:
                    print(a, b, c)

    print('증명 작업 종료')

In [ ]:
func_1(4, 5, 16)

In [ ]:
# continue 

for i in range(1, 11, 1):
    print(i)
    if i < 3:
        continue

In [ ]:
# break 
for i in range(1, 101, 1):
    print(i)
    if i > 10:
        break

### 문제 
- 1부터 1000까지의 합계를 구하는 중 합계가 1200이 넘어가는 최초의 숫자를 무엇인가?
    1. 합계라는 변수를 생성하여 0을 대입 
    2. for, while문을 이용하여 1부터 1000까지의 합계
    3. 합계가 1200이 넘어가는 순간 반복을 종료
    4. 종료되었을때의 합계와 i의 값을 출력

In [ ]:
# for 문

result = 0

for i in range(1, 1001, 1):
    result += i
    if result > 1200:
        break

print(result)
print(i)

In [ ]:
result  = 0 
for i in range(1, 51, 1):
    result += i

print(result)

In [ ]:
# while 

result = 0

i = 1

while i <= 1000:
    result += i
    if result > 1200:
        break
    i += 1

print(result)
print(i)

### 자료형 데이터 
1. 튜플 
    - 가장 기본적인 자료형 데이터 
    - 내부의 원소들의 수정이 불가능
2. 리스트 
    - 튜플과 다르게 내부의 원소들의 수정이 가능
    - 내장 함수를 가지고 있어 데이터의 추가, 삭제, 수정들이 용이 
3. 딕셔너리 
    - 사전형 데이터를 의미한다. 
    - R에서 리스트의 형태와 흡사
    - key : value의 형태로 이루어져있다.

In [ ]:
# 튜플 
a = (1, 'Hello')
b = (3, 3.14)

# 튜플 끼리의 합 2개의 튜플이 연결
c = a + b
d = a * 3

print(c)
print(d)

In [ ]:
# 튜플에서 각 원소들을 추출 하려면? 
# 튜플명[위치값]

print(a[0])

In [ ]:
print(a[1][0])

In [ ]:
a = (10, 20, 30, 40)

# 2번째 원소부터 3번째 원소까지 출력하려면?
print(a[1:3])

# 가장 마지막 원소를 출력하려면?
print(a[-1])

In [ ]:
## 리스트 
a = [20, 10, 40, 30]
b = [10, 20, 40, 30]

In [ ]:
# 리스트의 원소들을 오름차순 정렬
a.sort()

In [ ]:
print(a)

In [ ]:
## 리스트의 원소들을 내림차순 정렬
# case1
# a.sort(reverse=True)
# case2
a.sort()
a.reverse()

In [ ]:
print(a)

In [ ]:
# 리스트의 마지막 원소를 삭제 
a.pop()
print(a)

In [ ]:
# 리스트의 마지막에 원소를 추가
b.append(22)
print(b)

In [ ]:
# 리스트는 0개 이상의 리스트를 생성
result = []

for i in range(1, 11, 1):
    if i % 2 == 0:
        result.append(i)

print(result)

In [ ]:
result = [] 

for i in range(1, 7, 1):
    for j in range(1, 7, 1):
        if (i + j) % 5 == 0:
            result.append((i, j))

print(result)

In [ ]:
## 딕셔너리 
# 사전형 데이터 
dict = {
    'name' : 'test', 
    'age' : 20, 
    'phone' : '01012345678'
}

In [ ]:
# test 라는 문자열을 출력하려면
print(dict['name'])

In [ ]:
## 새로운 키값에 데이터를 대입 
dict['area'] = 'Seoul'
print(dict)

In [ ]:
# DB에서 python을 이용하여 데이터를 로드 할때의 데이터의 형태
# [{}, {}, {}, ...]
test_data = [
    {
        'id' : 'test', 
        'password' : '1234'
    }, 
    {
        'id' : 'test2', 
        'password' : '1111'
    }
]

In [ ]:
type(test_data)

In [ ]:
print(test_data[1])

In [ ]:
print(test_data[1]['id'])

In [ ]:
for i in test_data:
    print(type(i))
    print(i['id'])

In [ ]:
## test_data에 있는 id 값들만 추출하여 새로운 리스트를 생성

print(test_data[0]['id'])
print(test_data[1]['id'])

In [ ]:
# 새로운 리스트 생성 
result = []

for i in test_data:
    result.append(i['id'])

print(result)

In [ ]:
test_data = [
    {
        'name' : 'test', 
        'age' : 20
    }, 
    {
        'name' : 'test2', 
        'age' : 25
    }, 
    {
        'name' : 'test3', 
        'age' : 30
    }
]

### 문제 
- test_data에서 연령대가 20대인 사람의 이름을 리스트 출력하시오
    1. 비어있는 새로운 리스트 하나 생성
    2. test_data의 항목들을 반복문을 이용하여 출력
    3. 각 항목들의 나이를 출력
    4. 조건문을 생성하여 연령대가 20대인 항목들을 출력
    5. 연령대가 20대인 이름 값들만 출력
    6. 5번 과정에서 이름 값들을 새로운 리스트에 추가 
    7. 리스트 출력

In [63]:
# 1. 비어있는 리스트 생성
result = []

# case1
for i in test_data:
    # i의 데이터의 형태가 dict(리스트의 항목들의 데이터)
    # print(i['age'])
    # 연령대가 20대인 조건식 
    if (i['age'] >= 20) & (i['age'] < 30):
        # print(i['name'])
        result.append(i['name'])
print(result)

['test', 'test2']

In [65]:
result = []

for i in range(0, len(test_data), 1):
    # i의 데이터의 형태가 int(인덱스값)
    # test_data[i] -> dict 형태의 데이터
    # print(test_data[i]['age'])

    if test_data[i]['age'] // 10 == 2:
        # print(test_data[i]['name'])
        result.append(test_data[i]['name'])
print(result)

['test', 'test2']