In [1]:
import pandas as pd

In [2]:
import buyandhold

In [5]:
import imp

C:\Users\moons\AppData\Local\Temp\ipykernel_5860\713651319.py:1: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  import imp

In [6]:
imp.reload(buyandhold)

In [3]:
df = pd.read_csv('../../csv/SPY.csv')

In [ ]:
buyandhold.buyandhold(df)

In [ ]:
# 라이브러리 설치 
!pip install yfinance

In [9]:
import yfinance as yf

In [15]:
df2 = yf.download('003490.ks' ,start='2010-01-01')

[*********************100%***********************]  1 of 1 completed

In [16]:
buyandhold.buyandhold(df2, col='Adj Close', start='20150101')

               Adj Close  daily_rtn    st_rtn
Date
2015-01-02  39336.476562        NaN       NaN
2015-01-05  40251.277344   0.023256  1.023256
2015-01-06  39772.097656  -0.011905  1.011074
2015-01-07  37898.929688  -0.047098  0.963455
2015-01-08  37724.683594  -0.004598  0.959025
...                  ...        ...       ...
2023-08-11  25000.000000   0.006036  0.635542
2023-08-14  24800.000000  -0.008000  0.630458
2023-08-16  24350.000000  -0.018145  0.619018
2023-08-17  23900.000000  -0.018480  0.607579
2023-08-18  23800.000000  -0.004184  0.605036

[2123 rows x 3 columns]