### 볼린저 밴드 
1. 주식 데이터 로드 
2. 결측치와 이상치를 제거 
3. 시간, 종가로 이루어진 데이터프레임 변경
4. 이동 평균선 : 데이터의 20개의 평균을 구해서 새로운 파생변수 대입
5. 상단 밴드 : 이동 평균선 + (2 * 데이터 20개의 표준편차)
6. 하단 밴드 : 이동 평균전 - (2 * 데이터 20개의 표준편차)
7. 구매 상태를 확인하는 파생변수 생성
8. 구매 상태를 입력
9. 수익율 계산

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../../csv/AMZN.csv", index_col='Date')
df.head(1)

              Open  High       Low     Close  Adj Close    Volume
Date
1997-05-15  2.4375   2.5  1.927083  1.958333   1.958333  72156000

In [3]:
# 데이터프레임에서 수정종가만 있는 데이터프레임으로 변환
price_df = df[['Adj Close']]

In [4]:
# 결측치, 무한대값 제거 
flag = ~price_df.isin([np.nan, np.inf, -np.inf]).any(axis=1)
price_df = price_df.loc[flag]

In [9]:
# 이동 평균선 생성 
# 종가 데이터의 2개의 평균
price_df['center'] = 0
for i in range(19, len(price_df)):
    # 반복문에서 i는 ? -> 데이터프레임의 인덱스 위치
    # 20개 데이터의 평균을 구한다.
    center_data = price_df.iloc[i-19:i, 0].mean()
    price_df.iloc[i, 1] = center_data
price_df.iloc[19:25]

            Adj Close    center
Date
1997-06-12   1.604167  1.573191
1997-06-13   1.583333  1.554550
1997-06-16   1.572917  1.546875
1997-06-17   1.505208  1.539748
1997-06-18   1.510417  1.532895
1997-06-19   1.510417  1.537281